# Virtual Environment
venv/
.venv/
ENV/

# Python bytecode/caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local configurations / databases
db.sqlite3
.env
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db